body {
    font-size: 16px;
    font-size: large;
    text-align: center;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul {
    background: #0f0;
}
ul li {
    list-style: georgian;
    line-height: 1.3em;
}
p {
    font-weight: 600;
    font-size: 3em;
}
.p_ul {
    background: #f0f;
}
.amarelo {
    background: yellow;
}
.vermelho {
    background: red;
}
.marrom {
    background: brown;
}